*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
out/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
project.lock.json
artifacts/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.sass-cache/
[Ee]xpress/
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.nupkg
**/packages/*
!**/packages/build/
*.[Cc]ache
!*.[Cc]ache/
.fake/
Dependencies/Packages
*/.sass-cache
.DS_Store
/Automation/.vscode
.vscode
*.linq
